@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

dialog {
  padding: 1em;
  /* The following color may be invisible on some platforms */
  background-color: #FFCC00;
  /* The following styles are required to support large font sizes on Windows */
  -moz-padding-start: 1em;
  -moz-padding-end: 1em;
}

#innerbox {
  /* The following style controls the width of the dialog box */
  width: 42em;
  /* The following styles control the appearance of the dialog's body */
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 1em;
}

.headerlabel {
  font-size: 2em;
  color: blue;
}

.option {
  font-weight: bold;
  margin-top: 5px;
}

.optiondescription {
  -moz-margin-start: 27px;
}
