h1 {
  margin-top: -0.2em;
  color: blue;
}

#errorPageContainer {
  max-width: 55em;
  background-image: url("chrome://maf-icons/skin/icon64.png");
  background-color: white;
  color: black;
}

#errorTitle, #errorLongContent {
  -moz-margin-start: 94px;
}

#errorShortDesc > p {
  font-weight: bold;
}

#errorLongDesc {
  padding-bottom: 0.5em;
}

#convertLink {
  display: block;
  margin: 1em 0;
  border: 1px solid #888;
  border-radius: 8px;
  background: transparent linear-gradient(#90EE90, #3D3) repeat scroll 0% 0%;
  color: #900;
  padding: 10px 20px;
  line-height: 1.4em;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

#convertLink:not(:hover) {
  text-decoration: none;
}
