@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Address bar and status bar integration */

#mafArchiveInfoUrlbarBox {
  -moz-box-align: center;
  padding-left: 4px;
}

#mafArchiveInfoUrlbarButton {
  padding: 0 2px;
}

#mafArchiveInfoUrlbarButton {
  list-style-image: url("page-archived.png");
}

#mafArchiveInfoUrlbarButton:hover {
  list-style-image: url("page-archived-hover.png");
}

/* Archive information popup */

#mafArchiveInfoPopup > vbox {
  padding: 10px;
}

#mafArchiveInfoPopup > vbox > label,
#mafArchiveInfoPopup > vbox > grid {
  margin-bottom: 8px;
}
